<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/css/style.css" type="text/css" />
	<script src="/js/client.js"></script>
	<script src="/js/categoryDD.js"></script>
	<script src="/js/edit.js"></script>
	<script src="/js/manage.js"></script>
	<title>TITLE</title>
</head>
	<body>
		<div class="topnav">
            <h1>Link Library</h1>
            
        </div>

        <div class="sidenav">
			<button id="home" type="button">Home</button>
            <button id="edit" type="button">Enter Link</button>
            <button id="manage" type="button">Manage Categories</button>
            <button id="search" type="button">Search YouTube</button>
         </div>

		{{{ body }}}
	</body>
</html>
