<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/style.css" type="text/css" /> 
<title>Link Library</title>
<script src="/js/client.js"></script>
	</head>
	<body>
		<div class="topnav">
            <h1>Link Library</h1>
            
        </div>

        <div class="sidenav">
            <div id='div_0' class='catButton'></div>
            <button type="button">Enter Link</button>
            <button type="button">Manage Categories</button>
            <button type="button">Search YouTube</button>
         </div>

		{{{ body }}}
	<script src="/js/categoryDD.js"></script>
	<script>getCategories()</script>
	</body>
</html>
