<div style="margin-left: 50px; margin-top:20px; margin-right: 50px">
    <h2>{{name}}</h2>
    <p>Click the label to open the link in a new tab.</p>
    {{#each links}}
    <div>
        <a href="{{linkURL}}" target="_blank">{{label}}&#8239;&#8239;</a>
        <button id= "{{id}}" type="submit" class="deleteLink btn btn-primary btn-sm">Delete Link</button>
        </div>
    {{/each}}
</div>