<form>
  <div class="row">
    <div class="col-md-9">
        <input type="text" class="form-control" placeholder="New Catagory">
    </div>
    <div class="col-md-3">
        <button type="submit" class="btn btn-primary my-1">Save</button>
      
  </div>
  <div class="row">
    <div class="col-md-9">
    <select class="form-control">
        <option>Delete Catagory</option>
    </select>
    </div>
    <div class="col-md-3">
        <button type="submit" class="btn btn-primary my-1">Delete</button>
    </div>
  </div>
</form>