<form style="margin-left: 50px; margin-top:20px; margin-right: 50px">
  <h2>Enter Link</h2>
  <div class="form-group">
    <label for="urlInputArea">Enter URL</label>
    <input type="textarea" class="form-control" id="input1" placeholder="http://sample.com">
  </div>
  <div class="form-group">
    <label for="labelInputArea">Add Label</label>
    <input type="textarea" class="form-control" id="input2" placeholder="Enter Label">
  </div>
  <div class="form-group">
    <label for="catagoriesArea">Select Category</label>
    <select id="saveLinks" class="form-control populateCategoryDropdown">
      <option class="listHolder">Categories</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary my-1"id="saveLinkButton">Save</button>
</form>