<form style="margin-left: 50px; margin-top:20px; margin-right: 50px">
  <div class="form-group">
    <label>Select Your Category</label>
    <select id="selectCategory" class="form-control">
      <option class="listHolder">Categories</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary my-1" id="selectCatButton">Go To Your Links!</button>
</form>