<form>
  <div class="form-group">
    <label for="urlInputArea">URL</label>
    <input type="textarea" class="form-control" id="input1" placeholder="Enter URL">
  </div>
  <div class="form-group">
    <label for="labelInputArea">Label</label>
    <input type="textarea" class="form-control" id="input2" placeholder="Enter Label">
  </div>
  <div class="form-group">
    <label for="catagoriesArea">Catagories</label>
    <select class="form-control">
  <option>Add Catagory</option>
</select>
  </div>
  <button type="submit" class="btn btn-primary my-1">Save</button>
  <button type="submit" class="btn btn-primary my-1">Update</button>
  <button type="submit" class="btn btn-primary my-1">Delete</button>
</form>