<form style="margin-left: 200px; margin-top:50px">
  <div class="form-group">
    <label>Add New Category</label>
    <input type="text" id="newCategory" class="form-control" placeholder="New Catagory">
  </div>
  <button type="submit" class="btn btn-primary my-1" id="saveCatButton">Save</button>  
  <br><br>
  <div class="form-group">
    <label>Delete Category and Associated Links</label>
    <select id="deleteCategory" class="form-control populateCategoryDropdown">
      <option class="listHolder">Select Category</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary my-1" id="deleteCatButton">Delete</button>
</form>