<form style="margin-left: 200px; margin-top:50px">
  <div class="row">
    <div class="col-md-9">
        <input type="text" id="category" class="form-control" placeholder="New Catagory">
    </div>
    <div class="col-md-3">
        <button type="submit" class="btn btn-primary my-1" id="savebutton">Save</button>
      
  </div>
  <div class="row">
    <div class="col-md-9">
      
    <div class="col-md-3">
        <div id='div_999' data-catID = '' class='catButton'></div>
        <button type="submit" class="btn btn-primary my-1" id="deletebutton">Delete</button>
    </div>
  </div>
</form>
<script>getCategories(999)</script>