<form style="margin-left: 50px; margin-top:20px; margin-right: 50px"> 
  <h2>YouTube Search</h2>
  <div class="form-group">
    <label for="searchInput">Enter key words for YouTube search.</label>
    <input type="text" class="form-control" id="searchInput" placeholder="ie puppies">
  </div>
  <button id="searchButton" class="btn btn-primary" type="submit">Submit</button>
</form>

<div style="margin-left: 50px; margin-top:20px; margin-right: 50px">
  <ol id="searchResultList"></ol>
</div>

<div id="selectionList" style="margin-left: 50px; margin-top:20px; margin-right: 50px">
</div>
<div id="instructionBlock" style="margin-left: 50px; margin-top:20px; margin-right: 50px">
</div>
