<form>
  <div class="form-group">
    <label for="searchInput">Enter key words for YouTube search.</label>
    <input type="text" class="form-control" id="searchInput">
  </div>
  <button id="searchButton" class="btn btn-primary" type="submit">Submit</button>
</form>

<div>
  <p>Click to view the video in a new tab. To select, simply click the Add button.</p>
  <ol id="searchResultList"></ol>
</div>

<div id="selectionList">
</div>
  

<script>
  $('#searchButton').on('click', function ()
  {
    event.preventDefault();
    $("#searchResultList").empty();

    var searchInput = $("#searchInput").val().trim();
    var apiKey = "AIzaSyB8xIzGzOaMROHKCkK7Xsw36JSRd85ugZE"
    var queryURL = "https://www.googleapis.com/youtube/v3/search?part=snippet&maxResults=5&q=" + searchInput + "&key=" + apiKey;
    console.log(queryURL);

    $.ajax({
      url: queryURL,
      method: "GET"
    }).then(function(response) 
    {
      console.log(response.items);
      var results = response.items;

      for (var i = 0; i < results.length; i++) 
      {
        var label = results[i].snippet.title;
        var vURL= "https://youtu.be/" + results[i].id.videoId;
        var resultLink = "<a href='" + vURL + "' target='_blank'>" + label + "</a>";
        var buttonLink = "<button data-url='" + vURL + "' data-label='" + label + "' class='addButton btn btn-primary'>Add</button>"
        
        $("#searchResultList").append("<div>" + buttonLink + "  " + resultLink + "</div><br>");
      };

     });
	});

  var selectedLinks = [];

  $(document).on("click", ".addButton", function()
  {
    var selectedLink = {"url": $(this).data("url"), "label": $(this).data("label"), "catID": null}
    selectedLinks.push(selectedLink);

    $("#selectionList").empty();
    $("#selectionList").append("<h3>Selected Links</h3>");

    for (var j=0; j < selectedLinks.length; j++)
    {
      var resultLink = "<a href='" + selectedLinks[j].url + "' target='_blank'>" + selectedLinks[j].label + "</a>";
      $("#selectionList").append("<div id='div_" + j + "' class='catButton'>" + resultLink + "</div><br>");
      getCategories(j);
    }
   
    var instructions = "<p>Be sure to click the Save button to add your selection list to your chosen categories.</p>"
    instructions += "<button id='saveSelections' class='btn btn-primary' type='submit'>Save Selections</button>"
    $("#selectionList").append(instructions);  
  });


  $('#saveButton').on('click', function ()
  {

{{!-- 

    for (var x = 0; x < selectedLinks.length; x++)
    {
      $.post("/links", 
      selectedLinks[j].url
      selectedLinks[j].label
      selectedLinks[j].catID
      ); 
    };

--}}

  });
</script>



 
