<form style="margin-left:200px; margin-top:50px"> 
  <div class="form-group">
    <label for="searchInput">Enter key words for YouTube search.</label>
    <input type="text" class="form-control" id="searchInput">
  </div>
  <button id="searchButton" class="btn btn-primary" type="submit">Submit</button>
</form>

<div style="margin-left:200px; margin-top:50px">
  <p>Click to view the video in a new tab. To select, simply click the Add button.</p>
  <ol id="searchResultList"></ol>
</div>

<div id="selectionList" style="margin-left:200px; margin-top:50px">
</div>